{{ $page := . }}
<div class="unggulan my-8 mx-4">
    <h4 class="text-2xl dark:text-gray-100 font-bold mb-4">Artikel unggulan</h4>
<div class="card block md:flex bg-white dark:bg-slate-900 dark:text-gray-100 overflow-hidden rounded-xl shadow-md">
    {{- with $page.Params.cover -}}
            {{- $images := . -}}
            {{- with $page.Site.GetPage "section" "upload" -}}
                {{- with .Resources.GetMatch (strings.TrimPrefix "/upload/" (index $images 0)) -}}
                    {{- $image1 := .Fill "800x600 q100" -}}
                    {{- $image2 := .Fill "400x300 q90" -}}
                    <div class="cover-image md:basis-1/3 p-4">
                        <a href="{{ $page.RelPermalink }}" title="{{ $page.Title }}">
                            <img class="rounded-lg w-full" srcset="
                            {{ $image2.RelPermalink }} 800w,
                            {{ $image1.RelPermalink }} 1366w,  
                            " src="{{ $image1.RelPermalink }}" alt="{{ $page.Title }}"/>
                        </a>
                    </div>
                {{- end -}}
            {{- end -}}
        {{- end -}}
    <div class="card-wrapper basis-full md:basis-2/3 p-4 pt-0 pb-6 md:p-8 md:pl-4">
            {{ with .Params.tags }}
            {{ range . }}
                <span class="tags">
                    <a class="rounded-lg p-1 px-3 mr-1 bg-gray-200 dark:bg-gray-700 dark:hover:bg-gray-800 dark:text-gray-100 text-sm hover:bg-gray-300" href="{{ "tags" | absURL }}/{{ . | urlize }}" title="{{.}}">{{ . }}</a>
                </span>
            {{ end }}
        {{ end }}
        <h2 class="my-4"><a class="linkin text-2xl md:text-3xl font-bold" href="{{.RelPermalink}}" title="{{.Title}}">{{.Title}}</a></h2>
        <div class="card-meta inline-block">
            <span>{{ partial "articles/author.html" . }}</span>- <span>{{ .Date.Format "Jan 2, 2006" }}</span>
        </div>
        <p class="my-4">
            {{.Params.excerpt}}
        </p>

    <p class="space">
        <a class="more text-blue-500 font-bold hover:text-blue-800" title="{{ .Title }}" href="{{ .RelPermalink }}">Baca selengkapnya...</a> 
    </p>  
    </div>
</div>
</div>