<div class="course">
    <h4 class="text-2xl font-bold mb-4"> Ayo Mulai</h4>
    <div class="row container">
        <div class="inline-block overflow-x-auto w-full">
            
            <div class="card1 bg-purple-500 p-6 rounded-lg text-white  shadow-md">
                <div class="card-wrapper">
                    <h2 class="font-bold text-lg mb-2">Belajar PHP</h2>
                    <p class="mb-4">Mulai belajar dasar-dasar pemograman PHP dari nol.</p>
                    <a class="py-1 px-3 bg-purple-600 font-bold text-white rounded-md ring-0 hover:bg-purple-500 hover:ring-purple-400 hover:ring" href="#" title="Masuk">Pelajari</a>
                </div>
            </div>

            <div class="card1 bg-blue-500 p-4 rounded-lg text-white ">
                <div class="card-wrapper">
                    <h2 class="font-bold text-lg">Belajar Tailwind CSS</h2>
                    <p>Coba pengalaman berbeda dengan <i>utilty-first</i> CSS framework, Tailwind CSS.</i></p>
                </div>
            </div>

            <div class="card1 bg-orange-500 p-4 rounded-lg text-white ">
                <div class="card-wrapper">
                    <h2 class="font-bold text-lg">Belajar Dasar HTML</h2>
                    <p>Mulai belajar dasar-dasar pemograman PHP dari nol.</p>
                </div>
            </div>

            <div class="card1 bg-teal-500 p-4 rounded-lg text-white ">
                <div class="card-wrapper">
                    <h2 class="font-bold text-lg">Belajar React.js</h2>
                    <p>Mulai belajar Framework Javascript paling populer saat ini.</p>
                </div>
            </div>

            <div class="card1 bg-yellow-400 p-4 rounded-lg text-white ">
                <div class="card-wrapper">
                    <h2 class="font-bold text-lg">Belajar Dasar Javascript</h2>
                    <p>Mulai belajar bahasa pemograman Javascript.</p>
                </div>
            </div>

            <div class="card1 bg-green-500 p-4 rounded-lg text-white ">
                <div class="card-wrapper">
                    <h2 class="font-bold text-lg">Belajar React.js</h2>
                    <p>Mulai belajar Framework Javascript paling populer saat ini.</p>
                </div>
            </div>

        </div>
    </div>
</div>