%navigation {
    ul li{
        list-style:none;
        float: left;
        font-size:16px;
    }
    ul li a{
        padding:0 10px;
        height: 65px;
        display: flex;
        align-items: center;
    }
}

.nav{
    background:$white   ;
    width: 100%;
    position: fixed;    
    height: 65px;
    box-shadow: $shadow-md;
    top:0;
    left: 0 ;
    z-index: 9999;
    a{
        color: $secondary-text;
    }
}
.nav-wrapper{
    width: 100%;
    max-width: 1200px;
    display: flex;
    height: 65px;
    align-items: center;
    margin:0 auto;
    @extend %navigation;
    ul li a:hover{
        background:$hover-bg;
    }
    ul{
        order:2;
        flex-grow: 1;
    }
    @media screen and(max-width:1025px){
        margin:0 25px;
    }
}
.brand{
    font-weight: 700;
    color: $black;
    order: 1;
    flex-grow: 0;
    display: flex;
}
.nav-dummy{
    position: relative;
    width: 100%;
    height: 65px;

}