$white: #ffffffff;
$primary: #0FA5D7;
$secondary: #fcffabff;
$accent: #06d6a0ff;
$accent-hover: rgb(7, 179, 133);
$orange: #f18f01ff;
$red: #d62246ff;
$black: #071013ff;
$secondary-text:#555555ff;
$hover-bg:#eeeeee;
$hover-border:#dadada