{{ define "main" }}
<div class="nav-dummy"></div>
<header class="hero">
    <div class="greet wrapper">

  {{ partial "authors/avatar.html" . }}  
  
    </div>
</header>
<div class="wrapper">
    <h3 class="text-2xl font-bold my-4">Artikel dari {{ .Title }}</h3>
    <div class="grid grid-cols-3 gap-8">
    {{ range .Paginator.Pages }}
        {{- partial "articles/card.html" . -}}
    {{ end }}
    </div>
</div>
<div class="pagination-wrapper"> 
{{ template "_internal/pagination.html" . }}
</div>
{{ end }}
