{{ $page := . }}
<div class="card bg-white dark:bg-slate-900 rounded-lg p-4 shadow-md">
    {{- with $page.Params.cover -}}
            {{- $images := . -}}
            {{- with $page.Site.GetPage "section" "upload" -}}
                {{- with .Resources.GetMatch (strings.TrimPrefix "/upload/" (index $images 0)) -}}
                    {{- $image1 := .Fill "300x190 q100" -}}
                    {{- $image2 := .Fill "230x100 q50" -}}
                    <div class="cover-image">
                        <a href="{{ $page.RelPermalink }}" title="{{ $page.Title }}">
                            <img class="rounded-md" loading="lazy" srcset="
                            {{ $image2.RelPermalink }} 800w,
                            {{ $image1.RelPermalink }} 1366w,  
                            " src="{{ $image1.RelPermalink }}" alt="{{ $page.Title }}"/>
                        </a>
                    </div>
                {{- end -}}
            {{- end -}}
        {{- end -}}
    <div class="card-wrapper p-4 pb-0">
            <a href="{{ $page.RelPermalink }}" class="link" title="{{.Title}}"></a>
        <h2 class="font-bold"><a class="linkin" href="{{.RelPermalink}}" title="{{.Title}}">{{.Title}}</a></h2>
    </div>
</div>
