{{ $page := . }}
<div class="card">
    {{- with $page.Params.cover -}}
            {{- $images := . -}}
            {{- with $page.Site.GetPage "section" "upload" -}}
                {{- with .Resources.GetMatch (strings.TrimPrefix "/upload/" (index $images 0)) -}}
                    {{- $image1 := .Fill "400x300 q100" -}}
                    {{- $image2 := .Fill "200x150 q90" -}}
                    <div class="cover-image">
                        <a href="{{ $page.RelPermalink }}" title="{{ $page.Title }}">
                            <img loading="lazy" srcset="
                            {{ $image2.RelPermalink }} 800w,
                            {{ $image1.RelPermalink }} 1366w,  
                            " src="{{ $image1.RelPermalink }}" alt="{{ $page.Title }}"/>
                        </a>
                    </div>
                {{- end -}}
            {{- end -}}
        {{- end -}}
    <div class="card-wrapper">
        <div class="stretched">
            <a href="{{ $page.RelPermalink }}" class="link" title="{{.Title}}"></a>
            {{ with .Params.tags }}
            {{ range . }}
                <span class="tags">
                    <a href="{{ "tags" | absURL }}/{{ . | urlize }}" title="{{.}}">{{ . }}</a>
                </span>
            {{ end }}
        {{ end }}
        <h2><a class="linkin" href="{{.RelPermalink}}" title="{{.Title}}">{{.Title}}</a></h2>
        <p>
            {{.Params.excerpt}}
        </p>
        </div>
    </div>
</div>
